@font-face {
    font-family: "Monaco";
    src: url('Monaco400.ttf')  format('truetype');
  }

body{
    background-color: black;
    color: whitesmoke;
    padding: 2rem 1rem;
    font-family: 'Monaco';
    min-height: 100vh;
    font-size: 0.9rem;
}

h1{
    text-align: left;
}

main section{
    font: 'Monaco' sans-serif;
}

.intro{
    padding: 1rem 0;
}

.intro, .intro h3, .intro p{
    text-align: left;
}

.intro_phase{
    font-weight: bold;
    text-align: center;
}

.my_name{
    margin-top: 1rem;
    font-size: 2em;
}

.skill_list{
    font-weight: 500;
}

a, a:link, a:visited {
    color: whitesmoke;
    font-weight: 700;
    padding: 1rem 0;
    margin-top: 0.3rem;
    border-radius: 10px;
    text-decoration: none;
}

ul{
    padding: 0 1.3rem;
}

li{
    margin: 1rem 0;
}

main.title{
    color: rgb(114, 152, 254);
}

.projects{
    margin: 2em 0;
}
.projects h3, h3.title{
    color: rgb(212, 226, 255);
}

.projects article{
    padding-bottom: 0.5rem;
}

span.codename{
    color: rgb(114, 152, 254);
    font: bold 500;
}

span.skill{
    font-weight: 600;
}

.articles{
    padding-bottom: 1.5rem;
}

.article_placeholder{
    font-style: italic;
    color: rgb(114, 152, 254);
}

.contact_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.contact_container a{
    font-size: 0.85rem;
    padding-bottom: 1rem;
    flex-basis: auto;
}

div.c_link{
    padding-bottom: 1rem;
}


@media screen and (min-width: 768px) {
    body {
        padding: 0 15%;
    }

    h1{
        padding-top: 1rem;
        text-align: center;
    }

    .intro, .intro h3, .intro p{
        text-align: center;
    }

    .contact_container{
        margin: 0.5rem 0;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

  }